@import url(main.css);
.container {
  padding: 6rem 4rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.container div img {
  width: calc(90% - 50px);
}
.texts > div {
  padding: 2rem 1rem;
}
.container .leftc {
  align-self: center;
  justify-self: center;
}
.container .rightc {
  align-self: center;
  justify-self: center;
}
.rightc h1 {
  margin-top: -40px;
}
.container .rightc h1 {
  font-size: 2.7rem;
}
.container .rightc p {
  letter-spacing: 1.7px;
}
.cta {
  padding: 15px 30px;
  background: linear-gradient(to right, #ff6584, #ff8611);
  border: none;
  font-family: var(--primaryfont);
  margin-top: 40px;
  color: rgb(12, 12, 12, 0.5);
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: 1px;
  transition: 0.3s ease;
}
.cta:hover {
  filter: opacity(90%);
  transition: 0.3s ease;
}
.mid {
  padding: var(--defaultpadding);
}
.para-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  margin-top: 2rem;
  padding-top: 1rem;
}
.para-grid > div {
  filter: drop-shadow(0px 5px 5px rgb(192, 192, 192));
  background: white;
  padding: 1rem 2rem;
}
.texts {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 6rem;
  padding: 0 2rem;
}
table {
  border: 1px solid black;
  font-size: 15px;
}
td,
th {
  padding: 5px 10px;
}
th {
  background: rgb(211, 211, 211);
}
.boxes {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  text-align: center;
}
.boxes .box {
  background: white;
  filter: drop-shadow(0px 5px 5px rgb(192, 192, 192));
  padding: 2rem 3rem;
}
footer {
  text-align: center;
  padding: 2rem 2rem;
  background: white;
  filter: drop-shadow(0px 5px 5px rgb(156, 156, 156));
}
footer h3 {
  margin: 0;
}
.collage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}
.collagehead h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.collage img {
  width: 100%;
}
@media (max-width: 700px) {
  .container {
    padding: 3rem 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .container .rightc h1 {
    font-size: 1.7rem;
  }
  /* .para-grid {
    grid-template-columns: repeat(3, 1fr);
  } */
  .texts {
    grid-template-columns: repeat(2, 1fr);
  }
  .boxes {
    grid-template-columns: repeat(2, 1fr);
  }
  .collage {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .container {
    padding: 2rem 2rem;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
  }
  .container .rightc h1 {
    font-size: 1.3rem;
  }
  .cta {
    margin-top: 10px;
  }
  /* .para-grid {
    grid-template-columns: repeat(2, 1fr);
  } */
  .texts {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    justify-items: center;
  }
  .boxes {
    grid-template-columns: repeat(1, 1fr);
  }
  .collage {
    grid-template-columns: repeat(1, 1fr);
  }
}
